### Home Assistant ###

# general GitHub no-nos #
*.crt
*.csr
*.key
*.sh

# logs and caches #
.spotify-token-cache
.google.token
.uuid
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
home-assistant.log
*.db-journal
*.pid
tts

# gerenated folders #
.storage
.cloud
.Trash*

# contain personal data potentially #
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
secrets.yaml

# .gitdontignore #
!.secrets/*

# custom_components/ #
__pycache__/
notebooks/

# other #
automations/
Dockerfile
deps
lib

# depreciated files kept locally for fallback #
.travis*