*.crt
*.csr
*.key
*.sh
.google.token
.uuid
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
html5_push_registrations.conf
ip_bans.yaml
known_devices.yaml
secrets.yaml

*.db-journal
*.pid
tts

deps
lib
www
.storage
.cloud

home-assistant.log

#custom_components/
__pycache__/

notebooks/

#exceptions
!/.actions/*